<%- include ("./partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
<link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cinzel|Questrial&display=swap" rel="stylesheet">
<div class="container">
    <div class="col-md-9">
    <div class="header">
        <h1 class="display-4">Paul's Blogfolio</h1>
        <p class="lead">This is a site dedicated to showing my work in design and devlopment.  It is meant to function as both a blog and a portfolio.  Please take a look and feel free to comment.  I hope you enjoy what you see.</p>
        <hr class="my-4">
        <div class="col text-center">
            <a class="btn btn-dark btn-lg" href="/index" role="button"> View Collection</a>
        </div>
    </div>
</div>
</div>
<%- include ("./partials/footer") %>