body {
    background-color: rgba(192, 234, 245, 0.5);
    background-image: url("https://images.unsplash.com/photo-1541140134513-85a161dc4a00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-repeat: no-repeat;
    background-position:cover;
    background-size: cover;
    background-blend-mode: multiply;
    font-family: 'Questrial', sans-serif;
    margin: 0px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 }

.blog {
    margin-top: 40px;
    display: flex;
}

.blog_info {
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    width: 300px;
}
.blog_info p {
    display: flex;
    width: 380px;
}
.blog_img img {
    display: flex;
    width: 600px;
    margin-top: 80px;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}
.comment {
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: flex-start;
}
.comment button {
    margin-top: 10px;
}
.comment_btn{
    margin-top: 10px;
    
}
.comment h4{
    display: flex;
    width: 500px;
}
@media screen and (max-width: 1200px) {
    .blog_img img ,p{
        width: 500px;
    
    }
 }
 @media screen and (max-width: 990px) {
    .blog {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .blog_img img{
        width: 350px;
        margin-top: -20px;
        margin-left: -20px;

    }
    .blog_img{
        display: flex;
        width: 350px;
        align-items: flex-start;
    }
    .blog_info p{
        width: 600px;
    }
    .comment{
        display: flex;
        flex-wrap: wrap;
        margin-left: 25px;
    }
 }
 @media screen and (max-width: 640px) {
    .blog {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        
    }
    .blog_img img{
        width: 250px;
        margin-top: -20px;
        margin-left: -20px;

    }
    .blog_img{
        display: flex;
        width: 350px;
        align-items: flex-start;
    }
    .blog_info p{
        width: 500px;
    }
    .comment,p{
        display: flex;
        flex-wrap: wrap;
        margin-left: 25px;
        font-size: 15px;
    }
    #commentText{
        font-size: 20px;
        margin-left: 25px;

    }
    .comment_btn{
        width: 105px;
        margin-left: 25px;
    }
}

#del-blg-btn{
    margin-bottom: 0px;
    margin-top: 20px;
}

.btn-warning{
    margin-top: 15px;
}

#submitDate {
    margin-bottom: 0px;
}

#userName{
    font-weight: 900;
    font-size: 20px;
}
 
#submitted{
    margin-bottom: 0px;
}
#comment_new{
    margin-top: 40px;
}
.comment_image {
    margin-left: 600px;
    margin-top: -190px;
}
#comment_p{
    margin-top: 20px;
    font-style: italic;
}
#commentText{
    font-weight: bold;
}
.col {
    margin-left:-30px;
}

/* Index */

#index_subhead{
    margin-bottom: 50px;
    text-align: center;
    margin-top: 25px;
    font-size: 80px;
    padding: 10px;
}
#index_subhead i{
    padding: 20px;
}

div.item:hover img {
    opacity: 0.5;
    filter: grayscale(50%);

  }
div.item i {
    opacity: 0;
    transform: translate(-600%, -150%) scale(0);
    transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
div.item:hover i {
    opacity: 1;
    transform: translate(-600%, -150%) scale(2.5);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
div.item * {
   transition: all .35s ease-in-out;
  }
.index_image {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 10px;
    
  }
  
  @media screen and (max-width: 640px) {
    .index_image {
        width: 250px;
        height: 250px;
    
    }
    .grid{
        
    }
 }

 @media screen and (max-width: 992px) {
    .index_image {
        width: 250px;
        height: 250px;
    }
 }
 @media screen and (max-width: 772px) {
    #index_subhead {
        font-size: 35px;
    }
    .index_image {
        width: 175px;
        height: 175px;
    }
 }